
.nav-container{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    justify-content: space-between;
}
.nav-items-list{
    display: flex;
    align-items: center;
}
.nav-item{
    color: rgb(11, 247, 247);
    list-style: none;
    margin: 0 20px;
    font-weight: 600;
font-size: 20px;
cursor: pointer;
}
.login-btn{
    background-color:rgb(11, 247, 247) ;
    color: black;
    padding: 10px 50px;
    border-radius: 10px;
}
.Firstcomponent{
    display: flex;
    background-color: white;

    width: 90%;
    margin: 0 auto  ;
    border-radius: 20px;
    padding: 30px;
}
.content{
    width: 50%;
    /* display: flex; */
    /* align-items: center; */
    padding: 0 20px;
}
.image-slide{
    width: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.image{
    width: 90%;
    height: 100%;
    border-radius: 10px;
}
.content-text{
    color: black;
    font-size: 21px;
    text-align: left;
}